<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .left,
        .contacts,
        .logo {
            display: inline-block;

        }


    </style>
</head>

<body>

    <header>
        <div class="logo">
            <a href="http://localhost:1337/">
                <img src="https://5ka.ru/img/header-logo.3062f8b3.svg" alt="5">
            </a>
        </div>

        <div class="contacts">
            <a href="">
                8-800-555-55-05<br>
            </a>
            Горячая линия
        </div>

        <div class="left">
            <a href="">
                Войти
            </a>
            <button>
                <img src="" alt="o">
            </button>
        </div>
    </header>

    <header-main>
        <a href="">Товары по акциям</a>
        <a href="">Выручай-карта</a>
        <a href="">Адреса магазинов</a>
        <a href="">Детский клуб</a>
        <a href="">Барный клуб</a>
        <a href="">Подарочная карта</a>
        <a href="">Доставка</a>
    </header-main>

    <main>
        <div class="products">

            <div class="product_1">
                <a href="">
                    <img src="" alt="1"><br>
                    'Название'<br>
                    XX.XX$
                </a>
            </div>


            <div class="product_2">
                <a href="">
                    <img src="" alt="2"><br>
                    'Название'<br>
                    XX.XX$
                </a>
            </div>


            <div class="product_3">
                <a href="">
                    <img src="" alt="3" class="mini"><br>
                    'Название'<br>
                    XX.XX$
                </a>
            </div>

        </div>

    </main>

    <footer>
        <a href="" class="pyat-mini">
            <img src="https://5ka.ru/img/footer-logo.3062f8b3.svg" alt="5">
        </a>
    </footer>

</body>

</html>