<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>

<body>
    <span>
        <h1>Вход</h1>
        <input type="text" placeholder="Эл. почта/номер телефона"></input><br>
        <input type="text" placeholder="Пароль"></input><br>
        <button type="submit">Войти</button><br>
        <button type="submit" onclick="alert('Ну и лох)')">Я не помню имя/пароль</button><br>
        <b>или</b>
        <h1>Регистрация</h1>
        <input type="text" placeholder="Эл. почта/номер телефона"></input><br>
        <input type="text" placeholder="Пароль"></input><br>
        <a href="/reg"><button type="submit">Регистрация</button></a>
    </span>
</body>

</html>