<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Оплата покупки</title>
</head>

<body>
    <button type="text">Номер карты</button>
    <button type="text">Пароль</button>
    <button type="submit" onclick='alert("Заскамил мамонта ахаааххаах")'>Оплатить покупку на сумму {{{sum}}}p</button>
</body>

</html>