<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <b> 2.1 <br><br></b>
        {{name}}
        {{surname}}

        <b><br> <br>2.2<br><br></b>

        <input type="text" v-model="num"> = <span>{{Numsq}}</span>

        <b><br> <br>2.3<br><br></b>

        <input type="text" v-model="num1"> + <input type="text" v-model="num2"> + <input type="text" v-model="num3">
        = <span>{{sumNum}}</span>

        <b><br> <br>2.4<br><br></b>

        <input type="text" v-model="arr[0]"> + <input type="text" v-model="arr[1]"> + <input type="text"
            v-model="arr[2]"> = <span>{{sumMas}}</span>

        <b><br> <br>2.5<br><br></b>

        <input type="text" v-model="obj.a"> + <input type="text" v-model="obj.b"> + <input type="text" v-model="obj.c">
        = <span>{{sumObj}}</span><br><br>

        <b>3.1<br><br></b>

        <ul>
            <li v-for="nums in Arr">{{nums}}</li>
        </ul>

        <b><br>3.2<br><br></b>

        <ul>
            <li v-for="(user, index) in users">
                {{user}} - {{index}}
            </li>
        </ul>

        <b><br>3.3<br><br></b>

        <ul>
            <li v-for="(user, index) in users">
                {{user}} - {{index + 1}}
            </li>
        </ul>

        <b><br>3.4<br><br></b>

        <ul>
            <li v-for="emp in employees">{{emp}}</li>
        </ul>

        <b><br>3.5<br><br></b>

        <ul>
            <li v-for="(money, emp) in employees">{{emp}} - {{money}}</li>
        </ul>

        <b><br>3.6<br><br></b>

        <ul>
            <li v-for="(money, emp, index) in employees">{{emp}} - {{money}} - {{index}}</li>
        </ul>

        <b><br>3.7<br><br></b>

        <ul>
            <li v-for="(money, emp, index) in employees">{{emp}} - {{money}} - {{index + 1}}</li>
        </ul>

        <b><br>3.8<br><br></b>

        <ul>
            <!-- <li v-for="a in hrefs"><a href="{{a.href}}">{{a.text}}</a></li> -->
        </ul>

        <b><br>3.9<br><br></b>

        <!-- <ul>
            <li v-for="prod in products">{{prod.name}}, price: {{prod.price}}, summary: {{sumPrice(prod.price, prod.quantity)}} Пока не работает,
                потом допилю</li>
        </ul> -->

        <b><br>3.10<br><br></b>

        <ul>
            <div v-for="it in iteration">
                <li>{{it}}</li>
                <li></li>
                <li></li><br>
            </div>
        </ul>

        <!-- <b><br>4.1<br><br></b> -->

        <!-- {{ show() }} -->

        <b><br><br>4.2<br><br></b>

        <!-- {{sumOfNums()}} -->

        <b><br><br>4.3<br><br></b>

        <button v-on:click="hello">hello</button>

        <b><br><br>4.4<br><br></b>

        <button v-on:mouseover="hello">hello</button>

        <b><br><br>4.4<br><br></b>

        <button v-on:click="sumOfNums2">1+2+3</button>

        <b><br><br>5.1<br><br></b>

        <span>{{text2}}</span><br>
        <button v-on:click="textchange_abcde">abcde</button> <button v-on:click="textchange_12345">12345</button>

        <b><br><br>5.2 / 5.3 / 5.4 / 5.5 / 5.6<br><br></b>

        <!-- <button v-on:click=""></button> -->

        <button v-on:click="Add">Add "!!!" in array</button>
        <button v-on:click="Remove">Remove first word in array</button>
        <button v-on:click="Pop">Remove last word in array</button>
        <button v-on:click="Reverse">Reverse array</button>
        <button v-on:click="Sort">Sort array</button>
        <ul>
            <li>{{mas}}</li>
        </ul>

        <b><br><br>5.7<br><br></b>

        <ul>
            <button v-on:click="Filter">Filter that array</button>
            <li>{{lastarray}}</li>
        </ul>

    </div>
</body>

</html>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            name: 'Вася',
            surname: 'Иванов',
            num: 5,
            num1: 1,
            num2: 2,
            num3: 3,
            arr: [1, 2, 3],
            obj: { a: 1, b: 2, c: 3 },
            Arr: [1, 2, 3, 4, 5],
            users: ['user1', 'user2', 'user3'],
            employees: {
                employee1: '100$',
                employee2: '200$',
                employee3: '300$'
            },
            hrefs: [
                { href: '1.html', text: 'ссылка 1' },
                { href: '2.html', text: 'ссылка 2' },
                { href: '3.html', text: 'ссылка 3' },
            ],
            products: [
                { name: 'product1', price: 100, quantity: 5 },
                { name: 'product2', price: 200, quantity: 4 },
                { name: 'product3', price: 300, quantity: 3 },
            ],
            iteration: ["a", "b", "c"],
            nums: {
                num1: 1,
                num2: 2,
                num3: 3
            },
            text: "hello",
            text2: "12345",
            mas: ["Oh", "hell", "ye", "it", "is", "working"],
            lastarray: [1, 26, 4, -2, 0, 10, -15]

        },
        computed: {
            Numsq() {
                return Number(this.num) * Number(this.num)
            },
            sumNum() {
                return Number(this.num1) + Number(this.num2) + Number(this.num3)
            },
            sumMas() {
                return Number(this.arr[0]) + Number(this.arr[1]) + Number(this.arr[2])
            },
            sumObj() {
                return (this.obj.a) + (this.obj.b) + (this.obj.c)
            },
            // sumPrice(quantity, price) {
            //     return (this.products.price) * (this.product.quantity)
            // },



        },
        methods: {
            show: function () {
                alert('!');
            },
            sumOfNums: function () {
                alert(this.nums.num1 + this.nums.num2)
            },
            hello() {
                alert(this.text)
            },
            sumOfNums2: function () {
                alert(this.nums.num1 + this.nums.num2 + this.nums.num3)       //    <--4.5
            },
            textchange_abcde: function () {
                this.text2 = "abcde"
            },
            textchange_12345: function () {
                this.text2 = "12345"
            },
            Add: function () {
                this.mas.push("!!!")
            },
            Remove: function () {
                this.mas.shift()
            },
            Pop: function () {
                this.mas.pop()
            },
            Reverse: function () {
                this.mas.reverse()
            },
            Sort: function () {
                this.mas.sort()
            },
            Filter: function () {
                let newarray = this.lastarray.filter(function (elem) {
                    if (Number(elem) > 0 && Number(elem) < 10) {
                        return true
                    } else {
                        return false
                    }
                })
                this.lastarray = newarray
            }

        }
    })


</script>