<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celtie tours</title>
</head>

<body>
    <section>
        <header>
            <div class="logo"></div>
            <div class="contacts"></div>
            <div class="options">
                <ul>
                    <ol class="asd"></ol>
                    <ol class="asd"></ol>
                    <ol class="asd"></ol>
                    <ol class="asd"></ol>
                    <ol class="asd"></ol>
                </ul>
            </div>
        </header>

        <main>
            <div class="text">

                <div class="title">
                    <h1>Ireland</h1>
                    <h2>Tours</h2>
                </div>

                <div class="desc">
                    <h5>Our priority is to create comfortable<br>
                        traveling conditions with a little<br>
                        effort on your part<br>
                    </h5>
                    <a href="#">Book a tour -></a>
                </div>

            </div>
        </main>

        <footer>
            <div class="tiles">
                <div class="buttons">
                    <input type="button" value="<">
                    <input type="button" value=">">
                </div>

                <div class="imgs">
                    <img src="" alt="img">
                    <img src="" alt="img">
                    <img src="" alt="img">
                    <img src="" alt="img">
                    <img src="" alt="img">
                </div>

            </div>
        </footer>
    </section>


    <section>

        <main>

            <h1>Tours</h1>
            <div class="imgs_1">
                <img src="" alt="poster1">
                <img src="" alt="poster2">
                <img src="" alt="poster3">
                <img src="" alt="poster4">
                <img src="" alt="poster5">
                <img src="" alt="poster6">
                <img src="" alt="poster7">
                <img src="" alt="poster8">
                <img src="" alt="poster9">
                <img src="" alt="poster10">
            </div>

        </main>

        <footer>

            <div class="buttons">
                <input type="button" value="<">
                <input type="button" value=">">
            </div>

        </footer>

    </section>

    <section>

        <header>
        </header>

        <main>

            <div class="text2">

                <h1>Destination</h1>

                <div class="desc2">
                    <h4></h4>
                </div>

            </div>

            <div class="cards">

                <img src="" alt="card1">
                <img src="" alt="card2">

            </div>

        </main>



    </section>

</body>

</html>